post_generation_actions.html

Activate*.cmd
Activate*.sh
Deactivate*.cmd
Deactivate*.sh

**/__pycache__/**
**/Generated/**

**/.coverage
**/lcov.info
**/.vscode

build/**
dist/**
src/SimpleSchemaGenerator.egg-info/**

minisign_key.pri

.antlr
.DS_Store
post_generation_instructions.html