Activate*.cmd
Activate*.sh
Deactivate*.cmd
Deactivate*.sh

**/__pycache__/**
**/Generated/**
**/.coverage
**/lcov.info
**/.vscode

.antlr
build/**
dist/**
src/SimpleSchemaGenerator.egg-info/**
